.active_log_in {
  animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(-8%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateX(0%);
	}
	50% {
		-webkit-transform: translateX(-8%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}
